/* this file is automatically loaded by Dash because it's in an assets directory that's in the same directory as app.py */

/* some basic layout and CSS Grid stuff */
body {
    padding: 0;
    margin: 0;
}

/* take note of some variables */
:root {
    --header-height: 56px;
    --sidebar-width: 300px;
    --sidebar-color: #fff;
    --sidebar-text-color: #444;
    --current-link-color: #edf3fc;
}

.dashboard-wrapper {
    min-height: 100vh;
}

/* our header will be fixed at the top of the page and never move */
/* we'll also give it a fancy shadow so it's visually separate */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px 1px #666;
    background-color: #fff;
    z-index: 10000;
    display: flex;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid #a6a6a6;
    width: 100%;
    padding: 0 16px;
}

.header-links {
    display: flex;
    margin: 0 40px 0 40px;
    height: var(--header-height);
}

.header-link, .header-link-current {
    font-size: 11pt;
    font-weight: bold;
    padding: 0 20px 0 20px;
    line-height: var(--header-height);  /* this makes the text centered */
}

.header-link-current {
    color: #000;
    background-color: var(--current-link-color);
}

.header-link:hover {
    color: #000;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

/* now for the sidebar and content areas */
.sidebar-and-content {
    margin-top: var(--header-height);
    display: grid;
    row-gap: 0;
    column-gap: 10px;
    grid-template-areas: "sidebar content";
    grid-template-columns: var(--sidebar-width) 1fr;
    min-height: calc(100vh - var(--header-height));
}

.sidebar {
    grid-area: sidebar;
    padding: 10px 10px 10px 10px;
    color: var(--sidebar-text-color);
    background-color: var(--sidebar-color);
    border-right: 1px solid #a6a6a6;
}

.sidebar-label {
    font-size: 12pt;
    font-weight: bold;
    padding: 10px 10px 0 10px;
}

.content {
    grid-area: content;
    padding: 20px 10px 0 0;
}

.output {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 4px 4px #bbb;
}

.graph-input {
    display: inline-block;
    width: 120px;
    margin: 4px 4px 4px 4px;
}

/*.tabs-container {

}*/

/*.tabs {

}*/

.tab {
    max-width: 120px !important;
    color: #666;
    background-color: #fff !important;
    font-weight: bold !important;
}

.tab:hover {
    color: #000;
}

.tab--selected {
    background-color: var(--current-link-color) !important;
}
